header {
    text-align: center;
    font-family: cursive 20px;
    color: rgba(255, 255, 255, 0.945);
    text-shadow: black 4px 4px 2px;
    
    
}
body{
    /*background-color: #BF506E;*/
    width: auto;
    height: auto;
    background-image:linear-gradient(to left,rgb(145, 69, 81),#BF506E,#d19dc8) ;
    background-size: 100% 80%;
    
}
div{
    text-align: center;
    font: normal 20pt arial ;
    /*color: #73343F;*/
    padding-top: 20px;
    text-shadow:black 1px 1px 2px;
    
    
}
div#msg{
    color: rgb(207, 203, 209);
    font : normal 20pt italic;
    text-shadow:black 2px 2px 4px;
    
}
footer{
    text-align: center;
    font: normal 15pt arial;
    
    
}
div#img{
    /*box-shadow: 85px 85px 70px;*/
    margin: auto;
    
   
    width: 639px;
    height: 458px;
    
   
    
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    box-shadow: 2px 2px 4px;
    
    
   
}